@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600i,700,700i');

html, body, 
.container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: auto; 
	font-size: 13px;
}

h1 {
  /*font-size: 33px;*/
  font-size: 40.67px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

body {
	/*overflow-y: scroll;*/
	/*background: #ecf0f1;*/
	background: #f8fdfe;
}

.splitlayout {
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
}

/* Intro sides */
.side {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 50%;
	/*height: 100%;*/
	height: calc(100% - 190px);
	text-align: center;
	-webkit-backface-visibility: hidden;
	margin-top: 110px;
}

.side-scroll {
	position: absolute;
	top: 0;
	z-index: 100;
	width: 50%;
	height: 100%;
	text-align: center;
	-webkit-backface-visibility: hidden;
	margin-bottom: 110px;
}

.side-scroll.side-left {
	background-position: center;
	background-size: cover;
}

.open-left .side,
.open-right .side {
	cursor: default;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 499;
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.side-left .overlay {
	background: rgba(0,0,0,0.7);
}

.side-right .overlay {
	background: rgba(0,0,0,0.3);
}

.side-left {
	left: 0;
	/*background: #47a3da;*/
	/*color: #fff;*/
	/*outline: 1px solid #47a3da;*/ /* avoid gap */
	background-image: url('../img/left-bg.png');
	background-position: right top;
	background-size: cover;
	text-align: left;
}

.side-right {
	right: 0;
	/*background: #fff;*/
	/*color: #47a3da;*/
	/*outline: 1px solid #fff;*/ /* avoid gap */
	background-image: url('../img/right-bg.jpg');
	background-position: left top;
	background-size: cover;
	text-align: right;
}

.contact .side-left {
	background-image: url('../img/contact-bg.jpg');
}

.contact .side-left .overlay-color{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.25);
}

.contact .side-right {
	background: none;
}

.side .desc {
	margin: 0 30px;
}

.side .desc h1, h2 {
	font-weight: 600;
	text-transform: uppercase;
	color: #1b4597;
	margin: 0;
}

.side .desc p {
	font-weight: 300;
	color: #6d6f71;
	font-size: 30px;
	/*width: 55%;*/
}

.side-left .desc {
	margin-top: 0;
	text-align: left;
	height: 50%;
}

.side-left .desc .header {
	height: 50%;
	display: flex;
	align-items: flex-end;
	justify-content: left;
}

.side-left .desc .body {
	height: 50%;
	margin-right: 50%;
}

.side-right .desc {
	/*margin-top: 50px;*/
	text-align: right;
	height: 50%
}

.side-right .desc .header {
	height: 50%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.side-right .desc .body {
	height: 50%;
	margin-left: 50%;
}

.side-left .desc p {
	margin: 15px 0 0 0;
}

.side-right .desc p {
	margin: 15px 0 0 0;
}

/* Intro content, profile image and name, back button */
.intro-content {
	/*position: absolute;
	top: 75%;
	left: 50%;
	padding: 0 1em;
	width: 100%;
	cursor: pointer;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);*/
	height: 50%;
	margin: 0 30px;
}

.profile {
	margin: 25% auto 0;
	width: auto;
	height: auto;
	/*border-radius: 50%;
	background: #47a3da;*/
}

.profile img {
	/*max-width: 100%;
	border-radius: 50%;
	opacity: 0.6;
	margin: 0 10px;*/
	height: 75px;
	/*position: absolute;*/
	/*bottom: 0;*/
	-webkit-transition: ease-in-out;
	transition: ease-in-out;
}

.profile img:hover {
	height: 85px;
	-webkit-transition: ease-in-out;
	transition: ease-in-out;
}

.side-left .profile img {
	left: 30px;
}

.side-right .profile img {
	right: 30px;
}

.profile button {
	font-size: 20px;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	height: 45px;
	width: 200px;
	background-color: #f47221;
	border: 1px solid #f47221;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
}

.profile button.right {
	background-color: #072048;
	border: 1px solid #072048;
}

.intro-content h1 > span {
	display: block;
	white-space: nowrap;
}

.intro-content h1 > span:first-child {
	font-weight: 700;
	font-size: 48px;
}

.intro-content h1 > span:nth-child(2) {
	/*position: relative;*/
	margin-top: 0.5em;
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8em;

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.intro-content h1 > span:nth-child(2):before {
	/*position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 2px;
	background: #fff;
	content: '';*/
}

.side-right .intro-content h1 > span:nth-child(2):before {
	background: #47a3da;
}

.back {
	position: fixed;
	top: 2em;
	z-index: 500;
	display: block;
	visibility: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	/*color: #47a3da;*/
	text-align: center;
	font-size: 40px;
	line-height: 44px;
	opacity: 0;
	pointer-events: none;
}

.mobile-layout .back { /* fixed positioning will make this not clickable after scrolling on some mobile devices */
	position: absolute;
}

.back-left {
	left: 5%;
	top: 50%;
	-webkit-transform: translateX(-50%);
	transform: translate(-50%,-50%);
	color: #fff;
}

.back-right {
	right: 5%;
	top: 50%;
	-webkit-transform: translateX(50%);
	transform: translate(50%,-50%);
	color: #fff;
}

.open-right .back-left,
.open-left .back-right {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	pointer-events: auto;
}

.back:hover {
	color: #ddd;
}

/* Pages */
.page {
	font-family: 'Raleway', sans-serif;
	position: relative;
	top: 0;
	overflow: auto;
	min-height: 100%;
	width: 90%;
	height: auto;
	font-size: 1.4em;
	-webkit-backface-visibility: hidden;
}

.page .body {
	transform: translateY(-50%);
	position: absolute;
	width: 100%;
	top: 50%;
}

.page-right {
	left: 10%;
	outline: 5px solid #f8fdfe; /* avoid rounding gaps */
	background: #f8fdfe;
	color: #97a8b2;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.splitlayout.open-right {
	background: #f8fdfe;
}

.page-left {
	left: 0;
	outline: 5px solid #f8fdfe; /* avoid rounding gaps */
	background: #f8fdfe;
	color: #fff;
	/*text-align: right;*/
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.splitlayout.open-left {
	background: #f8fdfe;
}

/* Inner page content */
.page-inner {
	/*padding: 5em 2em 2em;*/
	padding-top: 110px;
	height: calc(100vh - 80px);
}

/*.page-left .page-inner {
	padding-top: 110px;
	height: calc(100vh - 80px);
}*/

/*.page-left .page-inner p {
	font-weight: 300;
	font-size: 26px;
	color: #fff;
	text-align: left;
	width: 90%;
	line-height: 1.5em;
}*/

.page-right .page-inner .heading {
	/*padding-left: 30%;*/
	/*height: 150px;*/
	height: calc(100% / 3);
	background-image: url('../img/about-right.jpg');
	background-position: center;
	background-size: 100%;
}

.page-left .page-inner .heading {
	/*padding-left: 30%;*/
	height: calc(100% / 3);
	background-image: url('../img/about-left.jpg');
	background-position: center;
	background-size: 100%;
}

.page-inner .heading .overlay-color {
	height: 100%;
	/*background-color: rgba(252,176,50,0.9);*/
	position: relative;

	background: -webkit-linear-gradient(right,rgba(244,147,2,0.7),rgba(246,211,35,0.7),rgba(247,228,51,0.7)); /*Safari 5.1-6*/
	background: -o-linear-gradient(left,rgba(244,147,2,0.7),rgba(246,211,35,0.7),rgba(247,228,51,0.7)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(left,rgba(244,147,2,0.7),rgba(246,211,35,0.7),rgba(247,228,51,0.7)); /*Fx 3.6-15*/
	background: linear-gradient(to left,rgba(244,147,2,0.7),rgba(246,211,35,0.7),rgba(247,228,51,0.7)); /*Standard*/
}

.page-right .page-inner .heading h2 {
	padding: 15px 0;
	font-size: 50px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}

.page-left .page-inner .heading h2 {
	padding: 15px 0;
	font-size: 50px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}

.page-inner section {
	padding-bottom: 1em;
	background-color: #f8fdfe;
}

.page-inner h2 {
	/*margin: 0 0 1em 0;*/
	font-weight: 300;
	font-size: 2.4em;
	text-shadow: 2px 2px 5px #58585b;
}

.page-inner .content h2 {
	text-align: center;
	font-size: 27px;
	font-weight: 600;
	text-shadow: none;
	margin-bottom: 10px;
}

.page-inner p {
	font-weight: 300;
	font-size: 25px;
	color: #6d6f71;
	text-align: center;
	margin: 0 auto 20px;
	width: 90%;
}

/* All transitions */
.side,
.page {
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.overlay {
	-webkit-transition: opacity 0.6s, visibility 0.1s 0.6s;
	transition: opacity 0.6s, visibility 0.1s 0.6s;
}

.intro-content {
	-webkit-transition: -webkit-transform 0.6s, top 0.6s;
	transition: transform 0.6s, top 0.6s;
}

.intro-content h1,
.back {
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Open and close */

/* We need to set the position and overflow for the respective page scroll */
.reset-layout .page,
.splitlayout.open-right .page-left,
.splitlayout.open-left .page-right,
.splitlayout.close-right .page-left,
.splitlayout.close-left .page-right {
	position: absolute;
	overflow: hidden;
	height: 100%;
}

.splitlayout.open-right .page-right,
.splitlayout.open-left .page-left {
	position: relative;
	/*overflow: auto;*/
	overflow: hidden;
	height: auto;
}

.open-right .side-left .overlay,
.open-left .side-right .overlay {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

/* Right side open */
.open-right .side-left {
	-webkit-transform: translateX(-80%);
	transform: translateX(-80%);
}

.open-right .side-right {
	z-index: 200;
	-webkit-transform: translateX(-180%);
	transform: translateX(-180%);
	background-color: #1b4597;
	background-image: none;
}

.open-right .side-right > div {
	display: none;
}

.close-right .side-right {
	z-index: 200;
}

.open-right .side-right .intro-content {
	-webkit-transform: translateY(-50%) translateX(-25%) scale(0.6);
	transform: translateY(-50%) translateX(-25%) scale(0.6);
}

.open-right .page-right {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

/* Left side open */
.open-left .side-right {
	-webkit-transform: translateX(80%);
	transform: translateX(80%);
}

.open-left .side-left {
	z-index: 200;
	-webkit-transform: translateX(180%);
	transform: translateX(180%);
	background-color: #1b4597;
	background-image: none;
}

.open-left .side-left > div {
	display: none;
}

.close-left .side-left {
	z-index: 200;
}

.open-left .side-left .intro-content {
	-webkit-transform: translateY(-55%) translateX(-78%) scale(0.6);
	transform: translateY(-55%) translateX(-78%) scale(0.6);
}

.open-left .codropsheader {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s, visibility 0.1s 0.3s;
	transition: opacity 0.3s, visibility 0.1s 0.3s;
}

.open-left .page-left {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

/* Media Queries */
@media screen and (max-width: 83em) {
	.intro-content { font-size: 60%; }
}

@media screen and (max-width: 58em) {
	body { font-size: 90%; }
}

@media screen and (max-width: 49.4375em) {
	.open-right .side-right {
		-webkit-transform: translateX(-175%);
		transform: translateX(-175%);
	}

	.open-right .side-left {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.open-left .side-right {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	.open-left .side-left {
		-webkit-transform: translateX(175%);
		transform: translateX(175%);
	}

	.page {
		width: 100%;
	}

	.page-right {
		left: 0;
		padding-left: 15%;
	}

	.page-left {
		padding-right: 15%;
	}

	.intro-content {
		width: 100%;
	}

	.open-right .side-right .intro-content {
		top: 100%;
		-webkit-transform: translateY(-150px) translateX(-12.5%) scale(0.5);
		transform: translateY(-150px) translateX(-12.5%) scale(0.5);
	}

	.open-left .side-left .intro-content {
		top: 100%;
		-webkit-transform: translateY(-150px) translateX(-87.5%) scale(0.5);
		transform: translateY(-150px) translateX(-87.5%) scale(0.5);
	}

	.open-right .intro-content h1,
	.open-left .intro-content h1 {
		opacity: 0;
	}

	.back-left {
		left: 6.25%;
	}

	.back-right {
		right: 6.25%;
	}
}

@media screen and (max-width: 42.5em) {
	body { font-size: 80%; }
	.intro-content { font-size: 50%; }
}

@media screen and (max-height: 41.125em) {
	/*.intro-content {
		-webkit-transform: translateY(-25%) translateX(-50%);
		transform: translateY(-25%) translateX(-50%);
	}*/
}

@media screen and (max-width: 39.375em) {
	.intro-content .profile { -webkit-transform: scale(0.5); transform: scale(0.5); }
}

@media screen and (max-width: 320px) {
	body { font-size: 70%; }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0177c1; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s
}

.sidenav a.menu {
	padding: 0;
	margin: 10px 40px;
	border-bottom: 1px solid #fff;
	text-align: center;
	line-height: 2.4em;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


::-webkit-input-placeholder { /* Chrome */
  color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #999999;
  opacity: 1;
}

.page-full {
	width: 100%;
	height: auto;
	/*height: calc(100vh - 80px);*/
	/*min-height: 100vh;*/
	padding-top: 110px;
}

.page-full.page-invest {
	height: calc(100vh - 80px);
	padding-top: 110px;
}

.page-header {
	height: 200px;
	background-image: url('../img/blog-header.jpg');
	background-size: cover;
	background-position: center;
}

.page-header .overlay-color {
	height: 100%;
    background-color: rgba(27, 66, 154,0.9)
}

.blog .page-header .overlay-color {
	background: -webkit-linear-gradient(right,rgba(244,147,2,0.7),rgba(246,211,35,0.7),rgba(247,228,51,0.7)); /*Safari 5.1-6*/
	background: -o-linear-gradient(left,rgba(244,147,2,0.7),rgba(246,211,35,0.7),rgba(247,228,51,0.7)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(left,rgba(244,147,2,0.7),rgba(246,211,35,0.7),rgba(247,228,51,0.7)); /*Fx 3.6-15*/
	background: linear-gradient(to left,rgba(244,147,2,0.7),rgba(246,211,35,0.7),rgba(247,228,51,0.7)); /*Standard*/
}

.page-header h2 {
	padding-top: 50px;
    font-size: 20pt;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
}

.blog .page-header h2 {
	padding: 15px 0;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 5px #58585b;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page-content {
	width: 75%;
	margin: -80px auto 150px;
	background-color: #fff;
	padding: 100px 75px 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
}

.page-content.signup {
	padding: 50px 75px 10px;
	width: 50%;
}

.page-content.invest {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url('../img/invest-bg.jpg');
	background-size: cover;
	background-position: center;
}

.invest .overlay-color {
	height: 100%;
    background-color: rgba(255, 255, 255, 0.75)
}

.page-content p {
	margin: 0 0 30px;
	color: #6d6f71;
	font-size: 18px;
    line-height: 1.5em;
}

.form{
    width: 100%;
    /*padding: 30px;*/
    /*background: #FFFFFF;*/
    margin: 0 auto;
    text-align: center;
}

.form h2{
    color: #6d6f71;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 20px;
    text-transform: none;
    /*padding: 20px;
    margin: -30px -30px 30px -30px;*/
}

.form p {
	width: 350px;
	color: #6d6f71;
	font-size: 14px;
	margin: 15px auto 0;
}

.form form {
	width: 350px;
	margin: 0 auto;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form textarea,
.form select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px 'Raleway', sans-serif;
    font-style: italic;
    height: 30px;
}

.form textarea{
    /*resize: none;*/
    overflow: hidden;
    min-height: 50px;
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

.form button {
	font-family: 'Raleway', sans-serif;
    display: inline-block;
    background: none;
    color: black;
    padding: 0;
    width: auto;
    height: auto;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    /*margin: 25px 15px 0;*/
    z-index: 999;
    border-radius: 15px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.03);*/
    vertical-align: middle;
}

.form button img {
	height: 50px;
}
/*
.form input[type="button"], 

.form input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}*/

.form input[type="button"]:hover, 
.form input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.page-content form {
	text-align: center;
}

.contact .form {
	/*margin: 50px auto;*/
	padding: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.form .socials {
	width: 100%;
	height: 35px;
	text-align: center;
}

.socials img {
	height: 100%;
	margin: 0 5px;
}

.invest .form {
	height: 100%;
	position: relative;
	width: 50%;
	margin-left: 50%
}

.invest .form .field-divided{
    width: 45%;
    display: inline-block;
}

.form .field-divided:nth-child(odd) {
    margin-right: 40px;
}

.invest form {
	width: 450px;
}

.invest .form h2 {
	color: #fff;
	text-align: left;
}

.invest .form-wrapper {
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(27,69,150,0.9);
}

.invest .form input, select {
	color: #fff;
}

.invest .form textarea{
    /*resize: none;*/
    overflow: hidden;
    min-height: 90px;
    max-width: 100%;
    min-width: 100%;
    max-height: 150px;
}

.invest .form select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:
	linear-gradient(45deg, transparent 50%, white 50%),
	linear-gradient(135deg, white 50%, transparent 50%);
	background-position:
	calc(100% - 23px) 10px,
	calc(100% - 15px) 10px;
	background-size:
	8px 8px,
	8px 8px,
	1px 8px;
	background-repeat: no-repeat;
}


.invest .form ::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
.invest .form :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.invest .form ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.invest .form :-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}

.blog .page-content {
	margin: 50px auto;
	padding: 0;
	height: 300px;
}

.blog-img {
	width: 50%;
	height: 100%;
	text-align: center;
}

.blog-img img.wide {
	max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.blog-img img.tall {
    max-height: 100%;
	max-width: 100%;
	height: 100%;
}

.blog-content {
	width: 50%;
	height: 100%;
	/*background-color: yellow;*/
	padding: 30px;
	overflow:hidden;
    text-overflow:ellipsis;
}

.page-content p.blog-preview {
	height: calc(18px * 1.4 * 4);
	max-width: 100%;
	margin: 0 auto;
	font-size: 18px;
	line-height: 1.4;
	overflow: hidden;
	text-overflow: ellipsis;
}

.page-content p.blog-author {
	font-size: 14px;
}

.blog .page-content:nth-child(odd) .blog-img {
	float: right;
}

.blog .page-content:nth-child(even) .blog-img {
	float: left;
}

.blog .page-content:nth-child(odd) .blog-content {
	float: left;
}

.blog .page-content:nth-child(even) .blog-content {
	float: right;
}

.blog .page-content:last-child {
	margin-bottom: 150px;
}

.blog-view-img {
	position: relative;
	height: 300px;
	overflow: hidden;
}

.blog-view-img img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.blog-view-content {
	text-align: center;
	width: 75%;
	margin: auto;
	padding: 50px;
}

.blog-view-content p {
	color: #6d6f71;
	font-size: 18px;
	line-height: 1.4em;
}

.blog-view-content .socials {
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 50px;
}

.contact.blog {
	height: calc(100% - 190px);
	margin-bottom: 80px;
}

.contact.blog .side-right {
	background: #ecf0f1;
}