/*General Blueprint Style*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; overflow: hidden; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: #333;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000;
}

.codropsheader {
	width: 100%;
	height: 110px;
	margin: 0 auto;
	text-align: left;
	padding: 30px;
	visibility: visible;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.07);
}

.codropsheader h1 {
	font-size: 48px;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.codropsheader span.toggleNav {
	float: left;
	font-size: 30px;
	color: #000;
	margin: 10px 15px;
	cursor: pointer;
}

.codropsheader > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.codropsheader > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #47a3da;
	background: #fff;
}

.codropsheader nav {
	float: right;
	text-align: center;
	height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.codropsheader .logo-img {
	float: left;
	height: auto;
}

.logo-img img {
	height: 50px;
}

.codropsheader .invest-btn {
	float: right;
	height: auto;
}

.invest-btn img {
	height: 50px;
}

.codropsheader nav h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 28px;
	margin: 15px 10px;
	border: 2px dashed;
	padding: 0 10px;
}

.codropsheader nav a {
	display: inline-block;
	color: #6d6e70;
	font-size: 21px;
	font-weight: 700;
	margin-right: 30px;
}

.codropsheader nav a:hover:before {
	content: attr(data-info);
	color: #fff;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.codropsheader nav a:hover {

}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

.codropsheader nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.codropsheader nav a:hover:after {
	color: #47a3da;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

.demos {
	display: inline-block;
	line-height: 2.4em;
	margin-left: 1em;
	float: right;
}

.demos a {
	display: inline-block;
	color: #fff;
	margin: 0 0.5em;
}

.demos a:hover,
.demos a:focus,
.demos a.current {
	color: rgba(0,0,0,.4);
}

@media screen and (max-width: 73.375em) {
	.codropsheader {
		text-align: center;
	}
	.codropsheader h1,
	.codropsheader nav,
	.demos {
		float: none;
		margin: 0 auto;
		padding: 0.15em 0;
	}
	.codropsheader > span {
		padding: 0;
	}
	.codropsheader > span span:after {
		display: none;
	}
}

@media screen and (max-height: 30.25em) {
	.codropsheader nav { display: none; }
}

.codropsfooter {
	width: 100%;
	position: fixed;
	height: 80px;
	bottom: 0;
	z-index: 9999;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px -4px 8px 2px rgba(0, 0, 0, 0.07);
}

.codropsfooter p {
	color: #6d6f71;
	margin: 0 0 10px;
}

.codropsfooter ul {
	display: inline-block;
	list-style-type: none;
	margin: 10px 0 0;
	padding: 0;
	overflow: hidden;
}

.codropsfooter li {
	float: left;
	margin: 5px 10px;
}

.codropsfooter li a {
	display: block;
	text-align: center;
	padding: 0 5px;
	color: #1b4597;
	text-decoration: none;
}

.codropsfooter li a:hover {
	text-decoration: none;
	color: #1b4597;
	font-weight: 600;
}

.codropsfooter li a.active {
	font-weight: 700;
}

 /* Style the tab */
div.tab {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* Style the buttons inside the tab */
div.tab button {
	font-family: 'Raleway', sans-serif;
    display: inline-block;
    background-color: inherit;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 19px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ac7129;
    color: #fff;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ac7129;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    float: left;
    width: 100%;
    border-left: none;
    height: calc(100% / 3 * 2);
    position: relative;
}

.tabcontent.left {
    z-index: 999;
} 

.tabcontent .display-img {
	height: 200px;
	overflow: hidden;
}

.tabcontent.right .content {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 65%;
}

.tabcontent.right .image {
	position: absolute;
	height: 100%;
	width: 35%;
	right: 0;
}

#history .image {
	background-image: url('../img/history-img.jpg');
	background-size: cover;
	background-position: center right;
}

#mission .image {
	background-image: url('../img/mission-img.png');
	background-size: cover;
	background-position: center left;
}

.tabcontent.left .content {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.tabcontent.left a {
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	text-align: left;
	transform: none;
	padding: 10px 15px;
	background-color: rgb(252,176,50);
	border-radius: 50px;
	display: inline-block;
}

.tabcontent.left a:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
}

.tabcontent.left .display-img p {
	font-weight: 500;
	font-size: 14px;
	color: #6d6f71;
	text-align: center;
	transform: none;
	width: 16%;
}

.btn-overlay {
	width: 150px;
	height: 150px;
	display: inline-block;
	border-radius: 15px;
	border: none;
    outline: none;
    cursor: pointer;
    transition :0.3s;
    margin: 0 15px;
    z-index:999;
    background-color: blue;
}

.btn-overlay:hover {
	background-color: white;
	z-index:9999;
}

.tabcontent img {
	height: 100%;
}

.tabcontent .display-img.w-text img {
	height: 75%;
}

/* Style the tab */
div.tab.left {
    width: 100%;
    height: calc(100% / 3 * 2);
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.tab.left .wrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.tab.left .wrapper.active {
	top: 90%;
	transform: translateY(-90%);
}

.tab.left button {
	font-family: 'Raleway', sans-serif;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0;
    width: 140px;
    height: 140px;
    border: none;
    outline: none;
    cursor: pointer;
    transition :0.3s;
    margin: 0 15px;
    z-index:999;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
    vertical-align: middle;
    font-size: 12px;
}

.tab.left button:hover {
	background-color: rgba(27,69,151,0.17);
}

.tab.left button.active {
	background-color: rgba(27,69,151,0.17);
}

.tab.left button img {
	max-width: 80%
}

.tabcontent.left .display-img {
	height: 75px;
	overflow: hidden;
	width: auto;
	text-align: center;
	margin-bottom: 20px;
}