@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

body, html { 
	font-family: 'Raleway', sans-serif;
	font-size: 100%; 
	padding: 0; 
	margin: 0;
	overflow: hidden;
	height: 100%;
}

.container {
	width: 1300px;
}

header {
	height: 110px;
	position: fixed;
	width: 100%;
}

.logo img {
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.invest img {
	height: 75px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%) translateX(-15%);
}

.content {
	height: 100%;
	padding-top: 110px;
	padding-bottom: 80px;
}

.side, .page {
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    height: 100%;
}

.side h2 {
	font-weight: 600;
	text-transform: uppercase;
	color: #1b4597;
}
.side p {
	font-weight: 300;
	color: #6d6f71;
	font-size: 11pt;
	width: 55%;
}

.side .desc {
	margin: 0 30px;
}

.side img {
	height: 75px;
	position: absolute;
	bottom: 30px;
}

.left img {
	left: 50px;
}

.right img {
	right: 50px;
}

.left {
	background-image: url('../img/left-bg.png');
	background-size: cover;
	background-position: center;
}

.left .desc {
	margin-top: 100px;
}

.right {
	background-image: url('../img/right-bg.png');
	background-size: cover;
	background-position: center;
}

.right .desc {
	margin-top: 50px;
	float: right;
	text-align: right !important;
}

.right .desc p {
	margin-left: auto;
}

footer {
	height: auto;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

footer p {
	color: #1b4597;
}

footer ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

footer li {
	float: left;
	margin: 5px 10px;
}

footer li a {
	display: block;
	text-align: center;
	padding: 0 5px;
	color: #6d6f71;
	text-decoration: none;
}

footer li a:hover {
	text-decoration: none;
	color: #6d6f71;
}


/* SPLIT LAYOUT */
.page {
    position: absolute;
    top: 0;
    overflow: auto;
    min-height: 100%;
    width: 75%;
    height: auto;
    font-size: 1.4em;
    -webkit-backface-visibility: hidden;
}

reset-layout .page, .splitlayout.open-right .page-left, .splitlayout.open-left .page-right, .splitlayout.close-right .page-left, .splitlayout.close-left .page-right {
    position: absolute;
    overflow: hidden;
    height: 100%;
}

.page-right {
    left: 25%;
    outline: 5px solid #ecf0f1;
    background: #ecf0f1;
    color: #97a8b2;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.page-left {
    left: 0;
    outline: 5px solid #34495e;
    background: #34495e;
    color: #fff;
    text-align: right;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.open-left .page-left {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

